#bim-f-content-wrapper {
	background: transparent !important;

	
	/*max-height: 600px !important;*/
}

 
#bim-f-slide-holder, 
#bim-f-content {
	/*max-height: 600px !important; */
}

.flashcard-image{
/*	max-height: 550px !important; */
/*	width: auto !important; */
}