* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
	margin: 0;
	overflow-y: scroll;

  height: 100%;
}

body{
	background-image: url("https://i.imgur.com/gPrw05s.png") !important;
  font-size: 16px;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
	font-weight: bold;
	color: #555 !important;
}

.top-row {
    border-bottom: 1px solid #f1f1f1;
    padding-top: 43px;
    padding-bottom: 11px;
}

.sub_title_adelle-sans{
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	color:#293644;
	font-weight: 600;
	font-size: 16px;
	
}

.centered{
	text-align: center;
}



.tk-adelle-sans {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color:#293644;
    font-weight: 700;
    font-size: 24px;
}
h2.main_title {
    font-size: 32px;
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 700;
    position: static;
    bottom: 0;
    margin-bottom: none !important;
    text-align: center;
}

.col-md-12:first-child {
    margin-top: 0px;
    margin-bottom: 30px;
}

::selection {
  background: #EC4067; /* WebKit/Blink Browsers */
  color: #fff;
}

::-moz-selection {
  background: #EC4067; /* Gecko Browsers */
    color: #fff;
}


#idGlobalHeader > div:nth-child(1){
    min-height:100px;
    background-image: -webkit-linear-gradient(to right, #318ce9, #2274ce);
    background-image: -o-linear-gradient(to right, #318ce9, #2274ce);
    background-image: -moz-linear-gradient(to right, #318ce9, #2274ce);
    background-image: linear-gradient(to right, #318ce9, #2274ce);
    color: #fff;
}

.bi-header-nav {
    background-color: #fff;
    border-bottom: 0px solid #e1e2e3;
    color: #6a6a6a;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 54px;
    min-height: 54px;
   /* text-transform: uppercase;*/
}

.bi-header-nav .bi-logo {
    float: left;
    margin-left: 10%;
    margin-top: 37px;
    filter: invert(100%) contrast(100) brightness(100);
}

.container{
    border-top:none;
  background: #fff;
    padding-bottom: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    border-radius: 6px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.14);
}
select {
   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
}

.form-control{
    font-size: 16px;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight: 600;
    color: #FFF;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 15px;
    border: 0px solid #ccc;
    outline: none;
    background: url("https://i.imgur.com/RZw0jf0.png") 100% 0 no-repeat, linear-gradient(to bottom, #318ce9, #2274ce);
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.16);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;

}


.sub_sec_title{
    margin-left:15px;
}

div.row:nth-child(7) > h2:nth-child(1){
    text-align: center;    
}

/*table*/

.item {
    height: 45px;
    padding-top: 12px;
    padding-left: 15px;
    border: solid 1px #f1f1f1;
    margin-bottom: -1px;
    
      font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #012955;

}

.sub_sec > .item:nth-of-type(2n+1){
    border: solid 1px #f1f1f1;
    background: none;
}

.sub_sec h3{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-weight:600;
    font-size: 16px;
    color: #012955;
    background-color: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 15px 0px 15px 15px;
}

/* end table*/


/*begin button
.item_link{
   font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #012955;

  padding: 3px 15px 5px 15px;
  object-fit: contain;
  border-radius: 6px;
  background: #fff;
    border: 2px solid #012955;
    
    text-decoration: none;
    outline: 0;
    
    transition: all 0.3s ease-in-out 0s;
}

.item_link:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
    background: #011f3f;
    border: 2px solid #011f3f;
}

.item_link:focus, .item_link:active {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
    background: #011f3f;
    border: 2px solid #011f3f;
}


a{
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f73d3;
}
a:focus, a:hover, a:visited {
    text-decoration: underline;
    outline: 0;
}

.seperator{
    color:#f1f1f1;
    padding:0 5px 0 5px
}

 end button*/

/*begin button*/
.item_link{
   font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ec4067;

  padding: 3px 15px 5px 15px;
  object-fit: contain;
  border-radius: 6px;
  background: #fff;
    border: 2px solid #ec4067;
    
    text-decoration: none;
    outline: 0;
    
    transition: all 0.3s ease-in-out 0s;
}

.item_link:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
    background: #ec4067;
    border: 2px solid #ec4067;
}

.item_link:focus, .item_link:active {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
    background: #cd3557;
    border: 2px solid #cd3557;
}


a{
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #0f73d3;
}
a:focus, a:hover, a:visited {
    text-decoration: underline;
    outline: 0;
}

.seperator{
    color:#f1f1f1;
    padding:0 5px 0 5px
}

/* end button*/

.sub_sec_title{
    margin-bottom:0;
}
.sub_sec_p{
    font-family: 'PT Serif', Times, serif;
    font-weight:400;
    font-size:16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.sub_sec ul>li>em{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
    
}

ul>li{
    padding: 10px 0px 0px 0px;
}

ul {
  list-style-type: none;
}

li::before{
  content: "■";
  color: #0f73d3 !important;
  display: inline-block; width: 1.5em;
  margin-left: -1em;
    transform: scale(.5);
  
}

#state_content .row{
     border-top: 1px solid #f1f1f1;
    padding: 0px 0px 30px 0px;
    transition: all 0.5s ease-in-out 0s;
    border-radius: 0px;
}

#state_content .row:hover{
    -webkit-box-shadow: inset 0px 0px 0px 5px rgba(220,240,255,1);
    -moz-box-shadow: inset 0px 0px 0px 5px rgba(220,240,255,1);
    box-shadow: inset 0px 0px 0px 5px rgba(220,240,255,1);
}

/*Inner Pages begin*/
.pad-large{
    color:#1e304c;
}

.pad-large:nth-child(2){
    background: #fff;
    border-top: 1px solid #f1f1f1;
}

.pad-large:last-child {
    background: #fff;
}

.pad-large{
    border: 1px solid #f1f1f1;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: #FFF;
}
.pad-large:nth-child(2n+1) {
    background: #FFF;
    border-top: 0px solid #dcdcdc;
    border-bottom: 0px solid #dcdcdc;
}

div.pad-large > div:nth-child(2) > span:nth-child(1), div.pad-large > div:nth-child(3) > span:nth-child(1){
    color: #f1f1f1;
}

div.pad-large > div:nth-child(2) > span:nth-child(1) a, div.pad-large > div:nth-child(3) > span:nth-child(1) a{
    padding-left:10px;
    padding-right:10px;
}

/*answer button*/


div.pad-large > div:nth-child(4) > a{
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ec4067;

  padding: 3px 15px 5px 15px;
  object-fit: contain;
  border-radius: 6px;
  background: #fff;
    border: 2px solid #ec4067;
    
    text-decoration: none;
    outline: 0;
    
    transition: all 0.3s ease-in-out 0s;
    
}

div.pad-large > div:nth-child(4) > a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
    background: #ec4067;
    border: 2px solid #ec4067;
}

div.pad-large > div:nth-child(4) > a:focus, div.pad-large > div:nth-child(4) > a:active {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
    background: #cd3557;
    border: 2px solid #cd3557;
}

/*answer button end*/

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
    border-top:1px solid #f1f1f1;
    color:#1e304c;
}

.group-1, .group-2, .group-3, .group-4, .group-5, .group-6, .group-7, .group-8, .group-9, .group-10, .group-11, .group-11a, .group-11b, .group-12, .group-13 {
    background-color: #fff;
}

.no-border:hover {
    background: #f1f1f1;
}

.open {
    background:  #dcf0ff;
}

.lp-item{
    font-weight: 400;
}

b, strong {
    font-weight: 400;
}

td {
    border-right: 1px solid #f1f1f1;
}


/*Inner Pages end*/


/*old styles.css*/


/*RPJ and Assessments*/

h1 {
	font-size: 28px !important;
	margin-bottom: 30px !important;
}

.lp-group {
	width: 100%;
}

.lp-item {
	float: left;
	padding-right: 1.5em;
	background-image: url(../pdf.png);
	background-position: 100% 60%;
	background-repeat: no-repeat;
	font-size: 14px;
	padding-left: 30px;
}

.lp-group {
	margin-top: 1px;
}

.lp-group .row .col-lg-12 {
	border-bottom: 1px solid #ddd;
}

.lp-group .row:last-child .col-lg-12 {
	border-bottom: 0px;
}

.lp-group .col-lg-12 {
	background-color: #f7f7f7;
}

.row .col-lg-12 span b {
	padding-left: 15px;
}

.col-lg-12 {
	padding: .5em;
}

.col-lg-12 span {
	font-size: 16px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.row {
	margin-bottom: -1px;
}

.unit-border:hover {
	background: rgba(194, 226, 246, 0.5) none repeat scroll 0 0;
}

.unit-border {
	cursor: pointer;
	border: 1px solid #ddd;
}

.unit-border .col-lg-12 {
	background: rgba(0, 0, 0, 0) url("../closed.png") no-repeat scroll left 50%;
}


/*Roadmaps and some all*/

table {
	border-collapse: collapse;
	font-size: 14px;
	max-width: 1060px;
	width: 100%;
	text-align: center;
	border: 1px solid #ddd;
}

.group-1,
.group-2,
.group-3,
.group-4,
.group-5,
.group-6,
.group-7,
.group-8,
.group-9,
.group-10,
.group-11,
.group-11a,
.group-11b,
.group-12,
.group-13 {
	background-color: #f7f7f7;
}

.no-border {
	border: none !important;
	font-size: 16px;
}

.no-border {
	cursor: pointer;
	transition: all 0.5s ease-in-out 0s;
}

.no-border:hover {
	background: rgba(194, 226, 246, 0.5) none repeat scroll 0 0;
}

.no-border .border_l {
	background: rgba(0, 0, 0, 0) url("../closed.png") no-repeat scroll left 50%;
}

.no-border .col-lg-12 {
	background: rgba(0, 0, 0, 0) url("../closed.png") no-repeat scroll left 50%;
}

.no-border:active {
	border: none !important;
}

.border_l.no-center {
	padding-left: 30px !important;
}

.open .border_l {
	background: rgba(0, 0, 0, 0) url("../open.png") no-repeat scroll left 50% !important;
}

.open .col-lg-12 {
	background: rgba(0, 0, 0, 0) url("../open.png") no-repeat scroll left 50% !important;
}

.open {
	background: rgba(194, 226, 246, 1) none repeat scroll 0 0;
	border-top: 1px solid #ddd;
}

td.no-center {
	text-align: left !important;
}

td {
	border-right: 1px solid #ddd;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3 !important;
}

select option{
	background: #2274ce;
}

li a{
	color : #0F7eD3;
}

.page-title {
	margin-top: 10px;
}

.page-title>h2, .page-title>h6 {
	color: #fff !important; 
}


.story-select-container {
	display: flex;
	margin-top:20px;
}

.resource-link-container{
	transition: all 0.5s;
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
}


a.resource-link:hover {
 
  color: #0F7eD3;
	background: #fff;
	border: 2px solid #0F7eD3;
	
}

a.resource-link {
  color: #FFFFFF;
	background: #0F7eD3;
	border: 2px solid #fff;

  text-decoration: none;
  outline: 0;
  transition: all 0.3s ease-in-out 0s;
  display: inline-block;
	min-width: 95px;
	margin: 0px 5px;
  font-weight: 600;
	text-align: center;
	padding: 3px 15px 3px 15px;
  object-fit: contain;
  border-radius: 6px;
}



.audio-playback-toggle-control {
	width: 55px;
  margin-left: 20px;
	height: 45px;
	border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 5px 0 #d8d8d8;
  box-shadow: inset 0 0 5px 0 #d8d8d8;
  border: 2px solid #1eaa00;
  outline: 0;
}

/*story select box

#story_select:not(.default), 
#story_select > option:not(.default) {
	text-transform : capitalize;
}

*/